xst/
_xmsgs/
iseconfig/
isim/
*.gise
*.xise
*.cmd_log
*.lso
*.prj
*.syr
*.xst
*.xml
*.log
*.xise
*.bgn
*.bld
*.drc
*.ncd
*.ngr
*.ngd
*.ngc
*.pad
*.par
*.pcf
*.ptwx
*.stx
*.twr
*.twx
*.unroutes
*.ut
*.xpi
*.xwbt
*.html
*_map.*
*_ngdbuild.
*_pad.*
*._par.
*.xrpt
*_beh.*
fuse*
*.cmd
xilinxsim.*
_ngo/
xlnx_auto*